body{
  background-image:url(logo.jpg),
                   url(home.jpg);
  background-position:100px 30px,
                      0px 100px;
  background-repeat:no-repeat,
                    no-repeat;
  background-size:137px 47px,
                  100%;
  background-attachment:fixed,
                        fixed;
}
