body{
  margin:0px;
}

#front{
  background-image:url(front.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:760px;
  margin:0px auto;
}
#getappicon{
  position:relative;
  top:500px;
  left:920px;
  width:170px;
  height:40px;
  border-radius:8px;
  background-color:#20B2AA;
  border:none;
  font-size:20px;
  color:#ffffff;
  cursor:pointer;
  transition:all 0.2s;
}
#getappicon:hover{
  transform:scale(1.05,1.05);
  box-shadow:0px 0px 50px rgba(20%,20%,40%,0.5);
}
#loginicon{
  position:relative;
  top:500px;
  left:930px;
  width:170px;
  height:40px;
  border-radius:8px;
  background-color:#ffffff;
  border-color:#20B2AA;
  font-size:20px;
  color:#20B2AA;
  cursor:pointer;
  transition:all 0.2s;
}
#loginicon:hover{
   transform:scale(1.05,1.05);
  box-shadow:0px 0px 50px rgba(20%,20%,40%,0.5);
}

#loginpage{
  background-image:url(loginpage.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:760px;
  margin:0px auto;
}
#username{
  position:relative;
  top:250px;
  left:550px;
  width:420px;
  height:85px;
  padding-left:70px;
  background-color:rgba(0%,0%,0%,0);
  border:2px solid #ffffff;
  border-radius:40px;
  background-image:url(icon1.jpg);
  background-repeat:no-repeat;
  background-position:20px 25px;
  font-size:20px;
  margin:0px auto;
}
#username::-webkit-input-placeholder{
  color:#ffffff;
}
#password{
  position:relative;
  top:370px;
  left:55px;
  width:420px;
  height:85px;
  padding-left:70px;
  background-color:rgba(0%,0%,0%,0);
  border:2px solid #ffffff;
  border-radius:40px;
  background-image:url(icon2.jpg);
  background-repeat:no-repeat;
  background-position:20px 15px;
  font-size:20px;
  margin:0px auto;
}
#password::-webkit-input-placeholder{
  color:#ffffff;
}
#login{
  position:relative;
  top:500px;
  left:-444px;
  width:495px;
  height:85px;
  border:none;
  border-radius:40px;
  cursor:pointer;
  background-color:#dc143c;
  color:#ffffff;
  font-size:25px;
  transition:all 0.2s;
}
#login:hover{
  transform:scale(1.05,1.05);
  box-shadow:0px 0px 50px rgba(20%,20%,40%,0.5);
}
#forget{
  cursor:pointer;
  transition:all 0.2s;
}
#forget:hover{
  transform:scale(1.1,1.1);
}

#home{
  background-image:url(home.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:700px;
  margin:0px auto;
}
.big{
  transition:all 0.2s;
}
.big:hover{
  transform:scale(1.4,1.4);
}

#about{
  background-image:url(about.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:840px;
  margin:0px auto;
}

#news{
  background-image:url(news.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:840px;
  margin:0px auto;
}
.big2{
  cursor:pointer;
  transition:all 0.2s;
}
.big2:hover{
  transform:scale(1.1,1.1);
}

#contact{
  background-image:url(contact.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:840px;
  margin:0px auto;
}
#twitter{
  position:relative;
  top:470px;
  left:200px;
}
#facebook{
  position:relative;
  top:465px;
  left:220px;
}
.big3{
  cursor:pointer;
  transition:all 0.2s;
}
.big3:hover{
  transform:scale(1.2,1.2);
}
#name{
  position:relative;
  top:340px;
  left:850px;
  padding-left:15px;
  padding-right:270px;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:5px;
  background:#CFCFCF;
  border:0;
}
#name::-webkit-input-placeholder{
  color:#ffffff;
}
#email{
  position:relative;
  top:375px;
  left:405px;
  padding-left:15px;
  padding-right:270px;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:5px;
  background:#CFCFCF;
  border:0;
}
#email::-webkit-input-placeholder{
  color:#ffffff;
}
#subject{
  position:relative;
  top:410px;
  left:-40px;
  padding-left:15px;
  padding-right:270px;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:5px;
  background:#CFCFCF;
  border:0;
}
#subject::-webkit-input-placeholder{
  color:#ffffff;
}
#message{
  position:relative;
  top:417px;
  left:852px;
  padding-left:15px;
  padding-right:270px;
  padding-top:5px;
  padding-bottom:100px;
  border-radius:5px;
  background:#CFCFCF;
  border:0;
}
#message::-webkit-input-placeholder{
  color:#ffffff;
}
#submit{
  position:relative;
  top:560px;
  left:410px;
  width:80px;
  height:35px;
  border-radius:5px;
  background-color:#dc143c;
  border:none;
  color:#ffffff;
  cursor:pointer;
}
#reset{
  position:relative;
  top:560px;
  left:420px;
  width:80px;
  height:35px;
  border-radius:5px;
  background-color:#dc143c;
  border:none;
  color:#ffffff;
  cursor:pointer;
}
.but{
  transition:all 0.2s;
}
.but:hover{
  transform:scale(1.1,1.1);
  box-shadow:0px 0px 30px rgba(20%,20%,40%,0.5);
}

#services{
  background-image:url(services.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:840px;
  margin:0px auto;
}
#analysis{
  position:relative;
  top:220px;
  left:450px;
}
#program{
  position:relative;
  top:225px;
  left:525px;
}
#search{
  position:relative;
  top:223px;
  left:610px;
}
#recommend{
  position:relative;
  top:490px;
  left:-63px;
}
#record{
  position:relative;
  top:490px;
  left:10px;
}
#calculate{
  position:relative;
  top:490px;
  left:95px;
  transition:all 1s;
}
.rot{
  cursor:pointer;
  transition:all 0.5s;
}
.rot:hover{
  transform:rotate(360deg);
}
