body{
  background-image:url(./logo.jpg),
                   url(https://lh5.googleusercontent.com/cp3tRrCAD_cYoXvjWKPaFuhgkNw5aJEB28Q6M_-P5Nj2ne5zM01r_hA_8Wj53edOhKPGY5shUMFgBiI=w1920-h887-rw);
  background-position:100px 30px,
                      0px 100px;
  background-repeat:no-repeat,
                    no-repeat;
  background-size:137px 47px,
                  100%;
  background-attachment:fixed,
                        fixed;
}
