body{
  margin:0px;
}

#front{
  background-image:url(front.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:760px;
  margin:0px auto;
}
#getappicon{
  position:relative;
  top:500px;
  left:920px;
}
#loginicon{
  position:relative;
  top:497px;
  left:920px; 
}

#loginpage{
  background-image:url(loginpage.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:760px;
  margin:0px auto;
}
#username{
  position:relative;
  top:250px;
  left:550px;
  width:420px;
  height:85px;
  padding-left:70px;
  background-color:rgba(0%,0%,0%,0);
  border:2px solid #ffffff;
  border-radius:40px;
  background-image:url(icon1.jpg);
  background-repeat:no-repeat;
  background-position:20px 25px;
  font-size:20px;
  margin:0px auto;
}
#username::-webkit-input-placeholder{
  color:#ffffff;
}
#password{
  position:relative;
  top:370px;
  left:55px;
  width:420px;
  height:85px;
  padding-left:70px;
  background-color:rgba(0%,0%,0%,0);
  border:2px solid #ffffff;
  border-radius:40px;
  background-image:url(icon2.jpg);
  background-repeat:no-repeat;
  background-position:20px 15px;
  font-size:20px;
  margin:0px auto;
}
#password::-webkit-input-placeholder{
  color:#ffffff;
}
#login{
  position:relative;
  top:500px;
  left:-444px;
  width:495px;
  height:85px;
  border:none;
  border-radius:40px;
  cursor:pointer;
  background-color:#dc143c;
  color:#ffffff;
  font-size:25px;
  box-shadow:0px 0px 50px rgba(20%,20%,40%,0.5);
}

#home{
  background-image:url(home.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:700px;
  margin:0px auto;
}

#about{
  background-image:url(about.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:840px;
  margin:0px auto;
}

#news{
  background-image:url(news.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:840px;
  margin:0px auto;
}

#contact{
  background-image:url(contact.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:840px;
  margin:0px auto;
}
#twitter{
  position:relative;
  top:470px;
  left:200px;
}
#facebook{
  position:relative;
  top:465px;
  left:220px;
}
#name{
  position:relative;
  top:340px;
  left:850px;
  padding-left:15px;
  padding-right:270px;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:5px;
  background:#CFCFCF;
  border:0;
}
#name::-webkit-input-placeholder{
  color:#ffffff;
}
#email{
  position:relative;
  top:375px;
  left:405px;
  padding-left:15px;
  padding-right:270px;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:5px;
  background:#CFCFCF;
  border:0;
}
#email::-webkit-input-placeholder{
  color:#ffffff;
}
#subject{
  position:relative;
  top:410px;
  left:-40px;
  padding-left:15px;
  padding-right:270px;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:5px;
  background:#CFCFCF;
  border:0;
}
#subject::-webkit-input-placeholder{
  color:#ffffff;
}
#message{
  position:relative;
  top:420px;
  left:852px;
  padding-left:15px;
  padding-right:270px;
  padding-top:5px;
  padding-bottom:100px;
  border-radius:5px;
  background:#CFCFCF;
  border:0;
}
#message::-webkit-input-placeholder{
  color:#ffffff;
}
#submit{
  position:relative;
  top:419px;
  left:845px;
}
#reset{
  position:relative;
  top:415px;
  left:830px;
}

#services{
  background-image:url(services.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:840px;
  margin:0px auto;
}
#analysis{
  position:relative;
  top:225px;
  left:445px;
}
#program{
  position:relative;
  top:225px;
  left:515px;
}
#search{
  position:relative;
  top:223px;
  left:594px;
}
#recommend{
  position:relative;
  top:490px;
  left:-83px;
}
#record{
  position:relative;
  top:490px;
  left:-10px;
}
#calculate{
  position:relative;
  top:490px;
  left:65px;
}
