body{
  margin:0px;
}

#front{
  background-image:url(front.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:760px;
  margin:0px auto;
}
#getappicon{
  position:relative;
  top:500px;
  left:920px;
  width:170px;
  height:40px;
  border-radius:8px;
  background-color:#20B2AA;
  border:none;
  font-size:20px;
  color:#ffffff;
  cursor:pointer;
  transition:all 0.2s;
}
#getappicon:hover{
  transform:scale(1.05,1.05);
  box-shadow:0px 0px 50px rgba(20%,20%,40%,0.5);
}
#loginicon{
  position:relative;
  top:500px;
  left:930px;
  width:170px;
  height:40px;
  border-radius:8px;
  background-color:#ffffff;
  border-color:#20B2AA;
  font-size:20px;
  color:#20B2AA;
  cursor:pointer;
  transition:all 0.2s;
}
#loginicon:hover{
   transform:scale(1.05,1.05);
  box-shadow:0px 0px 50px rgba(20%,20%,40%,0.5);
}

#loginpage{
  background-image:url(loginpage.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1530px;
  height:760px;
  margin:0px auto;
}
#username{
  position:relative;
  top:250px;
  left:550px;
  width:420px;
  height:85px;
  padding-left:70px;
  background-color:rgba(0%,0%,0%,0);
  border:2px solid #ffffff;
  border-radius:40px;
  background-image:url(icon1.jpg);
  background-repeat:no-repeat;
  background-position:20px 25px;
  font-size:20px;
  margin:0px auto;
}
#username::-webkit-input-placeholder{
  color:#ffffff;
}
#password{
  position:relative;
  top:370px;
  left:55px;
  width:420px;
  height:85px;
  padding-left:70px;
  background-color:rgba(0%,0%,0%,0);
  border:2px solid #ffffff;
  border-radius:40px;
  background-image:url(icon2.jpg);
  background-repeat:no-repeat;
  background-position:20px 15px;
  font-size:20px;
  margin:0px auto;
}
#password::-webkit-input-placeholder{
  color:#ffffff;
}
#login{
  position:relative;
  top:500px;
  left:-444px;
  width:495px;
  height:85px;
  border:none;
  border-radius:40px;
  cursor:pointer;
  background-color:#dc143c;
  color:#ffffff;
  font-size:25px;
  transition:all 0.2s;
}
#login:hover{
  transform:scale(1.05,1.05);
  box-shadow:0px 0px 50px rgba(20%,20%,40%,0.5);
}
#forget{
  cursor:pointer;
  transition:all 0.2s;
}
#forget:hover{
  transform:scale(1.1,1.1);
}

#loading{
  background-image:url(loading.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1519px;
  height:900px;
  margin:0px auto;
}
#icon1{
  position:absolute;
  top:98px;
  left:619px;
  animation:icon1animation 2s ease 0s infinite normal;
  opacity:0;
}
@keyframes icon1animation{
  0%{opacity:10;}
}
#icon2{
  position:absolute;
  top:105px;
  left:620px;
  animation:icon2animation 2s ease 0s infinite normal;
  opacity:0;
}
@keyframes icon2animation{
  0%{opacity:0;}
  20%{opacity:100;}
}
#icon3{
  position:absolute;
  top:100px;
  left:620px;
  animation:icon3animation 2s ease 0s infinite normal;
  opacity:0;
}
@keyframes icon3animation{
  0%{opacity:0;}
  20%{opacity:0;}
  40%{opacity:100;}
}
#icon4{
  position:absolute;
  top:100px;
  left:619px;
  animation:icon4animation 2s ease 0s infinite normal;
  opacity:0;
}
@keyframes icon4animation{
  0%{opacity:0;}
  20%{opacity:0;}
  40%{opacity:0;}
  60%{opacity:100;}
}
#icon5{
  position:absolute;
  top:101px;
  left:618px;
  animation:icon5animation 2s ease 0s infinite normal;
  opacity:0;
}
@keyframes icon5animation{
  0%{opacity:0;}
  20%{opacity:0;}
  40%{opacity:0;}
  60%{opacity:0;}
  80%{opacity:100;}
}
#icon6{
  position:absolute;
  top:97.5px;
  left:622px;
  animation:icon6animation 2s ease 0s infinite normal;
  opacity:0;
}
@keyframes icon6animation{
  0%{opacity:0;}
  20%{opacity:0;}
  40%{opacity:0;}
  60%{opacity:0;}
  80%{opacity:0;}
  100%{opacity:100;}
}
#lout{
  position:relative;
  border:3px solid #696969;
  width:450px;
  height:25px;
  top:510px;
  left:550px;
  border-radius:30px;
  box-shadow:0px 0px 10px rgba(20%,20%,50%, 0.8);
}
#lin{
  position:relative;
  border:none;
  width:435px;
  height:18px;
  top:486.5px;
  left:560px;
  border-radius:30px;
  background-color:#20B2AA;
  box-shadow:0px 0px 10px rgba(20%,20%,50%,0.8);
  animation:loadinganimation 0.5s ease 0s 1 normal;
}
@keyframes loadinganimation{
  0%{width:0px;}
  100%{width:435px;}
}
#bar{
  position:fixed;
  left:50%;
  margin-left:-800px;
  background-color:#ffffff;
  z-index:1;
}
#home{
  background-image:url(home.jpg);
  background-position:0px 65px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1519px;
  height:700px;
  margin:0px auto;
}
.big{
  transition:all 0.2s;
}
.big:hover{
  transform:scale(1.4,1.4);
}

#ap{
  position:relative;
  top:30px;
  overflow:hidden;
}
#about{
  background-image:url(about.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1519px;
  height:840px;
  margin:0px auto;
}

#np{
  position:relative;
  top:-30px;
  overflow:hidden;
}
#news{
  background-image:url(news.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1519px;
  height:840px;
  margin:0px auto;
}
.big2{
  cursor:pointer;
  transition:all 0.2s;
}
.big2:hover{
  transform:scale(1.1,1.1);
}

#cp{
  position:relative;
  top:20px;
  overflow:hidden;
}
#contact{
  background-image:url(contact.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1519px;
  height:840px;
  margin:0px auto;
}
#twitter{
  position:relative;
  top:470px;
  left:200px;
}
#facebook{
  position:relative;
  top:465px;
  left:220px;
}
.big3{
  cursor:pointer;
  transition:all 0.2s;
}
.big3:hover{
  transform:scale(1.2,1.2);
}
#name{
  position:relative;
  top:340px;
  left:850px;
  padding-left:15px;
  padding-right:270px;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:5px;
  background:#CFCFCF;
  border:0;
}
#name::-webkit-input-placeholder{
  color:#ffffff;
}
#email{
  position:relative;
  top:375px;
  left:405px;
  padding-left:15px;
  padding-right:270px;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:5px;
  background:#CFCFCF;
  border:0;
}
#email::-webkit-input-placeholder{
  color:#ffffff;
}
#subject{
  position:relative;
  top:410px;
  left:-40px;
  padding-left:15px;
  padding-right:270px;
  padding-top:5px;
  padding-bottom:5px;
  border-radius:5px;
  background:#CFCFCF;
  border:0;
}
#subject::-webkit-input-placeholder{
  color:#ffffff;
}
#message{
  position:relative;
  top:417px;
  left:852px;
  padding-left:15px;
  padding-right:270px;
  padding-top:5px;
  padding-bottom:100px;
  border-radius:5px;
  background:#CFCFCF;
  border:0;
}
#message::-webkit-input-placeholder{
  color:#ffffff;
}
#submit{
  position:relative;
  top:560px;
  left:410px;
  width:80px;
  height:35px;
  border-radius:5px;
  background-color:#dc143c;
  border:none;
  color:#ffffff;
  cursor:pointer;
}
#reset{
  position:relative;
  top:560px;
  left:420px;
  width:80px;
  height:35px;
  border-radius:5px;
  background-color:#dc143c;
  border:none;
  color:#ffffff;
  cursor:pointer;
}
.but{
  transition:all 0.2s;
}
.but:hover{
  transform:scale(1.1,1.1);
  box-shadow:0px 0px 30px rgba(20%,20%,40%,0.5);
}

#sp{
  position:relative;
  top:-25px;
  overflow:hidden;
}
#services{
  background-image:url(services.jpg);
  background-position:0px 0px;
  background-repeat:no-repeat;
  background-size:100%;
  width:1519px;
  height:850px;
  margin:0px auto;
}
#analysis{
  position:relative;
  top:220px;
  left:450px;
}
#program{
  position:relative;
  top:225px;
  left:525px;
}
#search{
  position:relative;
  top:223px;
  left:610px;
}
#recommend{
  position:relative;
  top:490px;
  left:-63px;
}
#record{
  position:relative;
  top:490px;
  left:10px;
}
#calculate{
  position:relative;
  top:490px;
  left:95px;
  transition:all 1s;
}
.rot{
  cursor:pointer;
  transition:all 0.5s;
}
.rot:hover{
  transform:rotate(360deg);
}
